.feature {
  width: 100%;
  max-width: 1230px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: calc(var(--section-spacing) - 18px);
  &-content {
    padding-top: 64px;
    width: 100%;
    max-width: 502px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1280px) {
  .feature {
    & > img {
      margin-right: 87px;
      width: initial;
    }
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279.98px) {
  .feature {
    & > img {
      margin-right: 20px;
      width: 500px;
    }
  }
}

@media screen and (max-width: 1023.98px) {
  .feature {
    flex-direction: column-reverse;
    &-content {
      max-width: unset;
    }
  }
}
