html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  font-weight: 500;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  font-weight: inherit;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

body {
  font-size: 1.6rem;
  color: $gray;
  line-height: 1.5;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border: none;
  outline: none;
  border-radius: 100rem;
  text-transform: capitalize;
  line-height: 1.5;
  cursor: pointer;
  &--secondary {
    border: 2px solid $light-gray;
    background-color: #fff;
    color: $primary-color;
  }
  &--primary {
    background: linear-gradient(103.38deg, #f67102 5.1%, #f4a91e 86.29%);
    color: white;
  }
  &--get-in-touch {
    font-size: 1.4rem;
    line-height: 1.5;
    width: 149px;
    height: 56px;
  }
}
.global {
  &-caption {
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.185em;
    color: $primary-color;
  }
  &-heading {
    color: $heading-color;
    font-weight: 700;
    line-height: 1.5;
    &--xlarge {
      font-size: 5rem;
      line-height: 5.6rem;
    }
    &--large {
      font-size: 4rem;
    }
    &--medium {
      font-weight: 600;
      font-size: 2.1rem;
    }
    &--small {
      font-weight: 600;
      font-size: 1.8rem;
    }
  }
  &-desc {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: $desc-color;
  }
}
main {
  position: relative;
}
