.nav {
  width: 100%;
  max-width: 1120px;
  padding: 30px 0px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $nav-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  padding-inline: 20px;
  &-authenication {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-btn {
    & + & {
      margin-left: 13px;
    }
  }
}
.toggle {
  display: none;
}
.menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin-block: 0;
  &-item {
    padding-left: 19px;
    padding-right: 19px;
  }
  &-link {
    display: block;
    position: relative;
    transition: all 0.2s ease-in-out;
    &::before {
      content: "";
      width: 0;
      height: 2px;
      position: absolute;
      bottom: -2px;
      left: 0;
      background-color: $primary-color;
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      color: $primary-color;
      &::before {
        width: 100%;
      }
    }
  }
}
.header {
  width: 100%;
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  padding-bottom: calc(var(--section-spacing) - 12px);
  &-main {
    display: flex;
    align-items: center;
    gap: 0 55px;
    margin-top: calc(var(--section-spacing) + 50px);
  }
  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &-caption {
    margin-bottom: 18px;
  }
  &-heading {
    margin-bottom: 25px;
  }
  &-desc {
    margin-bottom: 48px;
  }
  &-action {
    display: flex;
    gap: 0 36px;
    align-items: center;
  }
  &-get-started {
    height: 56px;
    padding-left: 28px;
    padding-right: 28px;
  }
  &-watch {
    display: flex;
    align-items: center;
    gap: 0 36px;
  }
  &-play {
    width: 60px;
    height: 60px;
    padding: unset;
    border-radius: 100rem;
    border: 2px solid $service-item-border;
    transition: all 0.2s ease-in-out;
    flex-shrink: 0;
    &:hover {
      box-shadow: 0 8px 16px 0 rgba($color: #000000, $alpha: 0.05);
      border: 2px solid white;
    }
  }
  &-watch-video {
    color: $dark-gray;
    font-size: 1.6rem;
    line-height: 1.5;
    cursor: pointer;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    &-img {
      & img {
        transform-origin: bottom left;
        transform: scale(1.15);
      }
    }
  }
  .nav {
    &-btn {
      height: 50px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header-content {
    max-width: 496px;
  }
}

@media screen and (max-width: 1023.98px) {
  .nav {
    justify-content: flex-start;
    &-authenication {
      margin-left: auto;
    }
  }
  .toggle {
    display: flex;
    font-size: 3rem;
    margin-left: 40px;
  }
  .overlay {
    position: fixed;
    inset: 0;
    z-index: 2;
  }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    z-index: 10;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.2s linear;
    transform: translateX(100%);
    &-item {
      padding-block: 20px;
    }
  }
  .header {
    &-main {
      flex-direction: column;
    }
    &-img {
      margin-top: 20px;
    }
  }
  .is-shown {
    transform: translateX(0);
  }
}

@media screen and (max-width: 767.98px) {
  .header {
    &-heading {
      font-size: 3.5rem;
    }
    &-action {
      flex-direction: column;
      gap: 30px 0;
    }
  }
  .nav {
    padding-block: 20px;
    justify-content: space-between;
  }
  .menu {
    & li {
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & li:nth-child(5) {
      border-bottom: 1px solid $primary-color;
    }
    & .nav-btn {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}
