.mission {
  display: flex;
  width: 100%;
  background-color: $section-bgc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: calc(var(--section-spacing) * 0.85);
  padding-bottom: calc(var(--section-spacing) / 2);
  &-container {
    padding: 0 20px;
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-img {
    order: 2;
  }
  & img {
    object-fit: cover;
  }
  &-content {
    order: 1;
    width: 502px;
    margin-right: -151px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279.98px) {
    &-img {
      max-width: 48%;
    }
    &-content {
      max-width: 48%;
    }
  }
  @media screen and (max-width: 1023.98px) {
    &-container {
      flex-direction: column;
      align-items: stretch;
      gap: 30px 0;
    }
    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-content {
      width: 100%;
      max-width: 500px;
    }
  }
}
