.post {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  margin-top: $section-spacing;
  display: flex;
  align-items: center;
  flex-direction: column;
  &-header {
    width: 100%;
    max-width: 606px;
    text-align: center;
    & .global-heading {
      max-width: 500px;
      margin: 0 auto;
    }
  }
}
