.service {
  max-width: 1108px;
  margin: 0 auto 76px;
  padding-left: 20px;
  padding-right: 20px;
  &-header {
    margin: 0 auto;
    margin-top: var(--section-spacing);
    width: 100%;
    max-width: 620px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    & .global {
      &-heading {
        width: 426px;
      }
      &-desc {
        margin-bottom: 73px;
      }
    }
  }
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
  }
  &-item {
    border: 2px solid $service-item-border;
    border-radius: 13px;
    width: 100%;
    padding: 40px 44px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.25s ease-in-out;
    &:hover {
      border: 2px solid #fff;
      box-shadow: 0px 24px 60px rgba(94, 122, 148, 0.1);
      cursor: pointer;
    }
  }
  &-img {
    margin-bottom: 26px;
    width: 67px;
    height: 67px;
    border-radius: 100rem;
    background: #f4f7ff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-title {
    margin-bottom: 19px;
    text-align: center;
  }
  &-desc {
    color: #7f8ea1;
    margin-bottom: 44px;
    font-size: 1.4rem;
    text-align: center;
  }
}
@media screen and (max-width: 1023.98px) {
  .service {
    margin-bottom: 0;
    &-header .global {
      &-desc {
        margin-bottom: 40px;
      }
    }
    &-container {
      display: grid;
      justify-content: flex-start;
      grid-auto-columns: 320px;
      grid-auto-flow: column;
      grid-gap: 33px;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 40px;
      padding: 0 24px 80px;
      margin-inline: -20px;
      grid-template-columns: unset;
    }
    &-container::-webkit-scrollbar {
      display: none;
      width: 0;
    }
    &-container > * {
      scroll-snap-align: start;
    }
    &-desc {
      margin-bottom: 30px;
    }
  }
}
