.testmonials {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-top: var(--section-spacing);
  & > img {
    margin-left: -20px;
  }
  &-content {
    padding-top: 82px;
    width: 100%;
    max-width: 400px;
    & .global-desc {
      color: $gray;
    }
  }
  &-achieve {
    display: flex;
    gap: 0 10px;
    margin-bottom: 34px;
  }
  &-number {
    font-weight: 600;
    font-size: 25px;
    line-height: 26px;
    color: #f4a11a;
  }
  &-text {
    color: #8189a3;
  }
  @media screen and (max-width: 1023.98px) {
    flex-direction: column-reverse;
    &-content {
      max-width: 500px;
      padding-top: 0;
      margin-bottom: 20px;
    }
    & > img {
      align-self: center;
      margin-left: 0;
    }
  }
}
