$primary-color: #ff7d00;
$nav-color: #635f85;
$gray: #79899d;
$light-gray: #e7e7e7;
$dark-gray: #101d48;
$heading-color: #051441;
$desc-color: #5d677e;
$brand-bgc: #f4f7fd;
$section-bgc: #f4f8fd;
$form-bgc: #f4f6fd;
$service-item-border: #edeff6;
$footer-bgc: #052347;
$footer-text: #afaccd;
$footer-heading-text: #d9e1f0;
$footer-rights-text: #8b9fcf;
$section-spacing: 140px;
