$primary-color: #ff7d00;
$nav-color: #635f85;
$gray: #79899d;
$light-gray: #e7e7e7;
$dark-gray: #101d48;
$heading-color: #051441;
$desc-color: #5d677e;
$brand-bgc: #f4f7fd;
$section-bgc: #f4f8fd;
$form-bgc: #f4f6fd;
$section-spacing: 140px;
