.brand 
  .brand-item
    img(srcset="./assets/img/brand-google.svg", alt="google")
  .brand-item
    img(srcset="./assets/img/brand-slack.svg", alt="slack")
  .brand-item
    img(srcset="./assets/img/brand-agworld.svg", alt="agworld")
  .brand-item
    img(srcset="./assets/img/brand-riotinto.svg", alt="riotinto")
  .brand-item
    img(srcset="./assets/img/brand-heroku.svg", alt="heroku")