section.feature
  img(srcset="./assets/img/feature-img.png 2x", alt="")
  +sectionHeader("feature-content", "WHO WE ARE", "margin-bottom: 25px", "Top #1 Marketing Agency in the World", "margin-bottom: 25px", "Nunc venenalis Iorem sed risus trlstque sent per. Duls porta,  rutruni tempus, lectus risus imDerdiet tellus, sed faucibus sum ipsum ncn neque. Curubilu r eleirend, erut ullamcorper porta. eras turpis. ", "margin-bottom: 37px")
    +getInTouchBtn()