footer.footer
  .footer-container
    .footer-info 
      .footer-company 
        h3.footer-company-heading 
          img(src="./assets/img/footer-logo.svg", alt="footer logo")
          img(src="./assets/img/footer-logo-name.svg", alt="footer logo name")
        p.footer-company-text Nulla non otllo venicula, ultricles lorem a, allquarn nes!. Etlam et lorem lobortls, cony allis nunc. 
        .footer-company-social
          +footerSocialLink("#", "./assets/img/link-facebook.png 2x")
          +footerSocialLink("#", "./assets/img/link-twitter.png 2x")
          +footerSocialLink("#", "./assets/img/link-instagram.png 2x")
      .footer-lists 
        +footerList("Service")
          +footerItem("#", "Email Marketing Social")
          +footerItem("#", "Media Marketing Search")
          +footerItem("#", "Engine Optimization")
          +footerItem("#", "Prnelnct Devnionmnni")
          +footerItem("#", "Web Development")
        +footerList("Support")
          +footerItem("#", "Sizicik. Community")
          +footerItem("#", "Support Documents")
          +footerItem("#", "Help:le-Lk API Documents")
          +footerItem("#", "5nvin,es Witus")
          +footerItem("#", "Email Contort")
        +footerList("Contact Us")
          +footerItem("#", "suppariaringrozom")
          +footerItem("#", "(41) 84?-5E2-451 ")
          +footerItem("#", "North Cry, 547 Link Road.")
    .footer-rights
      p All Right Reserved by Us! Copyright 2021 
