header.header 
  nav.nav 
    img(srcset="./assets/img/logo.png 2x", alt="logo" class="header-logo")
    include ./menu
    .nav-authenication.hide-on-mobile
      button.btn.btn--secondary.nav-btn Login
      button.btn.btn--primary.nav-btn Sign Up
    span.toggle 
      i.fas.fa-bars
    .overlay.display-none
  .header-main 
    .header-content 
      .global-caption.header-caption AWARD WINNING COMPANY
      .global-heading.global-heading--xlarge.header-heading We Are The Best Digital Markeing
      p.global-desc.header-desc You need to get positive results when you spend hard earned revenue and time on any marketing effort. Great returns on marketing and promotions. 
      .header-action 
        .btn.btn--primary.header-get-started Get Started 
        label(for="header-play" class="header-watch")
          .btn.btn--secondary.header-play#header-play 
            img(srcset="./assets/img/header-play.png 2x", alt="")
          .header-watch-video Watch Video
    .header-img 
      img(srcset="./assets/img/header-img.png 2x")