ul.menu 
  li.menu-item 
    a.menu-link(href="#") Home 
  li.menu-item 
    a.menu-link(href="#") Why us?
  li.menu-item 
    a.menu-link(href="#") Features
  li.menu-item 
    a.menu-link(href="#") Pricing 
  li.menu-item 
    a.menu-link(href="#") Contact
  button.btn.btn--secondary.nav-btn.hide-on-desktop.hide-on-tablet Login
  button.btn.btn--primary.nav-btn.hide-on-desktop.hide-on-tablet Sign Up