section.mission 
  .mission-container
    .mission-img
      img(srcset="./assets/img/mission-img.svg", alt="")
    +sectionHeader("mission-content", "OUR MISSION & GOAL", "margin-bottom: 18px", "Realize Your Business Goals For Profit", "margin-bottom: 25px", "Nunc venenalis Iorem sed risus trlstque sent per. Duls porta,  rutruni tempus, lectus risus imDerdiet tellus, sed faucibus sum ipsum ncn neque. Curubilu r eleirend, erut ullamcorper porta. eras turpis. ", "margin-bottom: 34px")
      +getInTouchBtn()