.newsletter 
  .newsletter-content 
    .global-heading.newsletter-heading Sign up to Our Newsletter
    .newsletter-text You need to get positive results when you spend hard earned revenue and time.
  form.newsletter-form
    .form-group 
      input(type="email", name="email" placeholder="Email..." required).form-control
      button(type="submit").btn.btn--primary.form-btn Subscribe