section.post 
  +sectionHeader("post-header", "", "", "Our Regular Updated Blog Posts", "margin-bottom: 25px", "tempus, lectus risus In' perdiel tellus, sed faucibus ipsum ipsurn nun neque. ", "margin-bottom: 78px")
  .post-container 
    +postItem("./assets/img/post1.png 2x", "SEO tips and tricks for new", "Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti* ")
    +postItem("./assets/img/post2.png 2x", "A Guide to Google SEO", "Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti* ")
    +postItem("./assets/img/post3.png 2x", "Best Practices SEO Content", "Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti* ")