section.post 
  +sectionHeader("post-header", "", "", "Our Regular Updated
  Blog Posts", "margin-bottom: 25px", "tempus, lectus risus In' perdiel tellus, sed faucibus ipsum ipsurn nun neque. ", "margin-bottom: 78px")
  .post-container 
    +postItem()