section.testmonials
  img(srcset="./assets/img/testmonials-img.svg", alt="testmonials")
  +sectionHeader("testmonials-content", "TESTMONIALS", "margin-bottom: 11px", "Client’s Fedback", "margin-bottom: 25px", "Why I say okl chap that is. sprffing aff his rut car blimey valmor gooxo blaka krcus up bobby shed a-50 William cock Richard. Bloke fanny around cheseci ", "margin-bottom: 20px")
    .testmonials-achieve
      img(src="./assets/img/testmonials-check.svg", alt="")
      span.testmonials-number 450+
      p.testmonials-text Client’s Feedback
    +getInTouchBtn()
