*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

input,
button,
select,
textarea {
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --section-spacing: 140px;
}
@media screen and (max-width: 1023.98px) {
  :root {
    --section-spacing: 70px;
  }
}
@media screen and (max-width: 767.98px) {
  :root {
    --section-spacing: 40px;
  }
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  font-weight: 500;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: inherit;
}

a {
  text-decoration: none;
  font-weight: inherit;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

body {
  font-size: 1.6rem;
  color: #79899d;
  line-height: 1.5;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border: none;
  outline: none;
  border-radius: 100rem;
  text-transform: capitalize;
  line-height: 1.5;
  padding: 12px 32px;
  cursor: pointer;
}
.btn--secondary {
  border: 2px solid #e7e7e7;
  background-color: #fff;
  color: #ff7d00;
}
.btn--primary {
  background: linear-gradient(103.38deg, #f67102 5.1%, #f4a91e 86.29%);
  color: white;
}
.btn--get-in-touch {
  font-size: 1.4rem;
  line-height: 1.5;
  width: 149px;
  height: 56px;
  padding: 0;
}

.global-caption {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.185em;
  color: #ff7d00;
}
.global-heading {
  color: #051441;
  font-weight: 700;
  line-height: 1.5;
}
.global-heading--xlarge {
  font-size: 5rem;
  line-height: 5.6rem;
}
.global-heading--large {
  font-size: 4rem;
}
.global-heading--medium {
  font-weight: 600;
  font-size: 2.1rem;
}
.global-heading--small {
  font-weight: 600;
  font-size: 1.8rem;
}
.global-desc {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #5d677e;
}

main {
  position: relative;
}

.display-none {
  display: none;
}

@media screen and (min-width: 1024px) {
  .hide-on-desktop {
    display: none !important;
  }
}
@media screen and (max-width: 1023.98px) {
  .global-heading--xlagre, .global-heading--large {
    width: 100%;
    max-width: 500px;
  }
}
@media screen and (max-width: 1023.98px) and (min-width: 768px) {
  .hide-on-tablet {
    display: none !important;
  }
}
@media screen and (max-width: 767.98px) {
  .hide-on-mobile {
    display: none !important;
  }

  .global-heading--xlagre, .global-heading--large {
    font-size: 3rem;
    max-width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .btn {
    padding: 10px 20px;
  }
}
.nav {
  width: 100%;
  max-width: 1120px;
  padding: 30px 0px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #635f85;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  padding-inline: 20px;
}
.nav-authenication {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-btn + .nav-btn {
  margin-left: 13px;
}

.toggle {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin-block: 0;
}
.menu-item {
  padding-left: 19px;
  padding-right: 19px;
}
.menu-link {
  display: block;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.menu-link::before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: #ff7d00;
  transition: all 0.2s ease-in-out;
}
.menu-link:hover {
  color: #ff7d00;
}
.menu-link:hover::before {
  width: 100%;
}

.header {
  width: 100%;
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  padding-bottom: calc(var(--section-spacing) - 12px);
}
.header-main {
  display: flex;
  align-items: center;
  gap: 0 55px;
  margin-top: calc(var(--section-spacing) + 50px);
}
.header-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header-caption {
  margin-bottom: 18px;
}
.header-heading {
  margin-bottom: 25px;
}
.header-desc {
  margin-bottom: 48px;
}
.header-action {
  display: flex;
  gap: 0 36px;
  align-items: center;
}
.header-get-started {
  height: 56px;
  padding-left: 28px;
  padding-right: 28px;
}
.header-watch {
  display: flex;
  align-items: center;
  gap: 0 36px;
}
.header-play {
  width: 60px;
  height: 60px;
  padding: unset;
  border-radius: 100rem;
  border: 2px solid #edeff6;
  transition: all 0.2s ease-in-out;
  flex-shrink: 0;
}
.header-play:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  border: 2px solid white;
}
.header-watch-video {
  color: #101d48;
  font-size: 1.6rem;
  line-height: 1.5;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .header-img img {
    transform-origin: bottom left;
    transform: scale(1.15);
  }

  .nav-btn {
    height: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .header-content {
    max-width: 496px;
  }
}
@media screen and (max-width: 1023.98px) {
  .nav {
    justify-content: flex-start;
  }
  .nav-authenication {
    margin-left: auto;
  }

  .toggle {
    display: flex;
    font-size: 3rem;
    margin-left: 40px;
  }

  .overlay {
    position: fixed;
    inset: 0;
    z-index: 2;
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    z-index: 10;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.2s linear;
    transform: translateX(100%);
  }
  .menu-item {
    padding-block: 20px;
  }

  .header-main {
    flex-direction: column;
  }
  .header-img {
    margin-top: 20px;
  }

  .is-shown {
    transform: translateX(0);
  }
}
@media screen and (max-width: 767.98px) {
  .header-heading {
    font-size: 3.5rem;
  }
  .header-action {
    flex-direction: column;
    gap: 30px 0;
  }

  .nav {
    padding-block: 20px;
    justify-content: space-between;
  }

  .menu li {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu li:nth-child(5) {
    border-bottom: 1px solid #ff7d00;
  }
  .menu .nav-btn {
    margin-top: 20px;
    margin-left: 0;
  }
}
.brand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 64px;
  background-color: #f4f7fd;
  height: 186px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 767.98px) {
  .brand {
    gap: 0 20px;
    height: 120px;
  }
}

.service {
  max-width: 1108px;
  margin: 0 auto 76px;
  padding-left: 20px;
  padding-right: 20px;
}
.service-header {
  margin: 0 auto;
  margin-top: var(--section-spacing);
  width: 100%;
  max-width: 620px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.service-header .global-heading {
  width: 426px;
}
.service-header .global-desc {
  margin-bottom: 73px;
}
.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
}
.service-item {
  border: 2px solid #edeff6;
  border-radius: 13px;
  width: 100%;
  padding: 40px 44px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.25s ease-in-out;
}
.service-item:hover {
  border: 2px solid #fff;
  box-shadow: 0px 24px 60px rgba(94, 122, 148, 0.1);
  cursor: pointer;
}
.service-img {
  margin-bottom: 26px;
  width: 67px;
  height: 67px;
  border-radius: 100rem;
  background: #f4f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-title {
  margin-bottom: 19px;
  text-align: center;
}
.service-desc {
  color: #7f8ea1;
  margin-bottom: 44px;
  font-size: 1.4rem;
  text-align: center;
}

@media screen and (max-width: 1023.98px) {
  .service {
    margin-bottom: 0;
  }
  .service-header .global-desc {
    margin-bottom: 40px;
  }
  .service-container {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 320px;
    grid-auto-flow: column;
    grid-gap: 33px;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 40px;
    padding: 0 24px 80px;
    margin-inline: -20px;
    grid-template-columns: unset;
  }
  .service-container::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .service-container > * {
    scroll-snap-align: start;
  }
  .service-desc {
    margin-bottom: 30px;
  }
}
.feature {
  width: 100%;
  max-width: 1230px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: calc(var(--section-spacing) - 18px);
}
.feature-content {
  padding-top: 64px;
  width: 100%;
  max-width: 502px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .feature > img {
    margin-right: 87px;
    width: initial;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279.98px) {
  .feature > img {
    margin-right: 20px;
    width: 500px;
  }
}
@media screen and (max-width: 1023.98px) {
  .feature {
    flex-direction: column-reverse;
  }
  .feature-content {
    max-width: unset;
    padding-top: 0;
  }
}
.mission {
  display: flex;
  width: 100%;
  background-color: #f4f8fd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: calc(var(--section-spacing) * 0.85);
  padding-bottom: calc(var(--section-spacing) / 2);
}
.mission-container {
  padding: 0 20px;
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mission-img {
  order: 2;
}
.mission img {
  object-fit: cover;
}
.mission-content {
  order: 1;
  width: 502px;
  margin-right: -151px;
}
@media screen and (min-width: 1024px) and (max-width: 1279.98px) {
  .mission-img {
    max-width: 48%;
  }
  .mission-content {
    max-width: 48%;
  }
}
@media screen and (max-width: 1023.98px) {
  .mission-container {
    flex-direction: column;
    align-items: stretch;
    gap: 30px 0;
  }
  .mission-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mission-content {
    width: 100%;
    max-width: 500px;
  }
}

.testmonials {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-top: var(--section-spacing);
}
.testmonials > img {
  margin-left: -20px;
}
.testmonials-content {
  padding-top: 82px;
  width: 100%;
  max-width: 400px;
}
.testmonials-content .global-desc {
  color: #79899d;
}
.testmonials-achieve {
  display: flex;
  gap: 0 10px;
  margin-bottom: 34px;
}
.testmonials-number {
  font-weight: 600;
  font-size: 25px;
  line-height: 26px;
  color: #f4a11a;
}
.testmonials-text {
  color: #8189a3;
}
@media screen and (max-width: 1023.98px) {
  .testmonials {
    flex-direction: column-reverse;
  }
  .testmonials-content {
    max-width: 500px;
    padding-top: 0;
    margin-bottom: 20px;
  }
  .testmonials > img {
    align-self: center;
    margin-left: 0;
  }
}

.post {
  width: 100%;
  max-width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-top: var(--section-spacing);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.post-header {
  width: 100%;
  max-width: 606px;
  text-align: center;
}
.post-header .global-heading {
  max-width: 500px;
  margin: 0 auto;
}
.post-container {
  display: flex;
  justify-content: flex-start;
  gap: 0 34px;
}
.post-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 354px;
  border-radius: 17px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.post-item img {
  width: 100%;
  object-fit: cover;
}
.post-item:hover {
  background: #ffffff;
  box-shadow: 0px 46px 100px -31px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.post-info {
  padding: 32px 24px 36px;
}
.post-title {
  margin-bottom: 9px;
}
.post-desc {
  font-size: 1.3rem;
  font-weight: 400;
}
@media screen and (max-width: 1023.98px) {
  .post-container {
    width: 100%;
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 354px;
    grid-auto-flow: column;
    grid-gap: 34px;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 30px;
    padding: 0 30px calc(var(--section-spacing) + 30px);
    margin-left: -30px;
    grid-template-columns: unset;
  }
  .post-container::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .post-container > * {
    scroll-snap-align: start;
  }
}
@media screen and (max-width: 767.98px) {
  .post-container {
    grid-auto-columns: 300px;
    grid-gap: 17px;
  }
}

.newsletter {
  max-width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
  margin: var(--section-spacing) auto;
}
.newsletter-container {
  background-color: #f4f6fd;
  width: 100%;
  height: 382px;
  border-radius: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 19px;
  padding: 40px;
}
.newsletter-content {
  width: 404px;
}
.newsletter-heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 25px;
}
.newsletter-text {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #79899d;
  max-width: 338px;
}
.newsletter-form {
  max-width: 373px;
  width: 100%;
}

.form-group {
  display: flex;
  justify-content: space-between;
  height: 53px;
  background-color: #fff;
  border-radius: 100rem;
  overflow: hidden;
}
.form-control {
  border: none;
  outline: none;
  height: 100%;
  border-radius: 100rem;
  padding-left: 21px;
}
.form-btn {
  width: 142px;
}

@media screen and (max-width: 1023.98px) {
  .newsletter {
    margin-top: 0;
  }
  .newsletter-container {
    height: unset;
    flex-direction: column;
    align-items: center;
    gap: 48px 0;
    text-align: center;
  }
  .newsletter-content {
    max-width: 100%;
  }
  .newsletter-text {
    max-width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .newsletter-heading {
    font-size: 3rem;
  }
  .newsletter-form {
    max-width: 500px;
  }

  .form-heading {
    font-size: 3rem;
  }
  .form-group {
    flex-direction: column;
    width: 100%;
    align-self: stretch;
    background-color: #f4f6fd;
    height: unset;
    border-radius: 0;
    align-items: center;
    gap: 30px 0;
  }
  .form-control, .form-btn {
    height: 53px;
  }
  .form-control {
    width: 100%;
    display: block;
  }
}
.footer {
  background-color: #052347;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #afaccd;
}
.footer-container {
  width: 100%;
  max-width: 1200px;
  padding: 90px 20px 32px 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-info {
  display: flex;
  padding-bottom: 48px;
}
.footer-company {
  padding-right: 200px;
  padding-top: 16px;
  width: 40%;
}
.footer-company-heading {
  display: flex;
  align-items: center;
  margin-bottom: 21.36px;
}
.footer-company-heading img + img {
  margin-left: 12.32px;
}
.footer-company-text {
  margin-bottom: 27.43px;
}
.footer-company-social {
  width: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-lists {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 60%;
  line-height: 37px;
}
.footer-list {
  margin-top: 0;
  margin-bottom: 0;
}
.footer-heading {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3.5rem;
  margin-bottom: 10px;
  color: #d9e1f0;
}
.footer-rights {
  width: 100%;
  padding-top: 30px;
  border-top: 1px solid #11317c;
  text-align: center;
}
.footer-rights p {
  color: #8b9fcf;
}

@media screen and (max-width: 1023.98px) {
  .footer-container {
    padding-left: 20px;
  }
  .footer-info {
    flex-direction: column;
    align-items: center;
    gap: 40px 0;
  }
  .footer-company {
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-lists {
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767.98px) {
  .footer-lists {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px 0;
  }
}

/*# sourceMappingURL=style.css.map */
