*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

input,
button,
select,
textarea {
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  font-weight: 500;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  font-weight: inherit;
  color: inherit;
}

body {
  font-size: 1.6rem;
  color: #79899d;
  line-height: 1.5;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border: none;
  outline: none;
  border-radius: 100rem;
  text-transform: capitalize;
  line-height: 1.5;
  cursor: pointer;
}
.btn--secondary {
  border: 2px solid #e7e7e7;
  background-color: #fff;
  color: #ff7d00;
}
.btn--primary {
  background: linear-gradient(103.38deg, #f67102 5.1%, #f4a91e 86.29%);
  color: white;
}
.btn--get-in-touch {
  font-size: 1.4rem;
  line-height: 1.5;
  width: 149px;
  height: 56px;
}

.global-caption {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.185em;
  color: #ff7d00;
}
.global-heading {
  color: #051441;
  font-weight: 700;
  line-height: 1.5;
}
.global-heading--xlarge {
  font-size: 5rem;
  line-height: 5.6rem;
}
.global-heading--large {
  font-size: 4rem;
}
.global-heading--medium {
  font-weight: 600;
  font-size: 2.1rem;
}
.global-desc {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #5d677e;
}

main {
  position: relative;
}

.nav {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #635f85;
}
.nav-authenication {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-btn {
  height: 50px;
  padding-left: 32px;
  padding-right: 32px;
}
.nav-btn + .nav-btn {
  margin-left: 13px;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.menu-item {
  padding-left: 19px;
  padding-right: 19px;
}
.menu-link {
  position: relative;
  transition: all 0.2s ease-in-out;
}
.menu-link::before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: #ff7d00;
  transition: all 0.2s ease-in-out;
}
.menu-link:hover {
  color: #ff7d00;
}
.menu-link:hover::before {
  width: 100%;
}

.header {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding-bottom: 70px;
}
.header-main {
  display: flex;
  align-items: center;
}
.header-content {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
.header-caption {
  margin-bottom: 18px;
}
.header-heading {
  margin-bottom: 25px;
}
.header-desc {
  margin-bottom: 48px;
}
.header-img {
  margin-right: -120px;
}
.header-action {
  display: flex;
  gap: 0 36px;
  align-items: center;
}
.header-get-started {
  height: 56px;
  padding-left: 28px;
  padding-right: 28px;
}
.header-play {
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
}
.header-watch-video {
  color: #101d48;
  font-size: 1.6rem;
  line-height: 1.5;
  cursor: pointer;
}

.brand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 64px;
  background-color: #f4f7fd;
  height: 186px;
}

.service {
  margin-bottom: 76px;
}
.service-header {
  margin: 0 auto;
  margin-top: 140px;
  width: 100%;
  max-width: 620px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.service-header .global-heading {
  width: 426px;
}
.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
}
.service-item {
  border: 2px solid #edeff6;
  border-radius: 13px;
  width: 100%;
  max-width: 334px;
  padding: 40px 44px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.25s ease-in-out;
}
.service-item:hover {
  border: 2px solid #fff;
  box-shadow: 0px 24px 60px rgba(94, 122, 148, 0.1);
  cursor: pointer;
}
.service-img {
  margin-bottom: 26px;
  width: 67px;
  height: 67px;
  border-radius: 100rem;
  background: #f4f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-title {
  margin-bottom: 19px;
}
.service-desc {
  color: #7f8ea1;
  margin-bottom: 44px;
  font-size: 1.4rem;
  text-align: center;
}

.feature {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 112px;
}
.feature img {
  margin-left: -60px;
  flex: 1;
  margin-right: 32px;
}
.feature-content {
  padding-top: 64px;
  width: 100%;
  max-width: 502px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mission {
  display: flex;
  width: 100%;
  background-color: #f4f8fd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mission-container {
  padding: 0 155px;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mission-img {
  order: 2;
}
.mission img {
  object-fit: cover;
}
.mission-content {
  order: 1;
  width: 502px;
  margin-right: -151px;
}

.testmonials {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  margin-top: 140px;
}
.testmonials > img {
  margin-left: -20px;
}
.testmonials-content {
  padding-top: 82px;
  width: 100%;
  max-width: 400px;
}
.testmonials-content .global-desc {
  color: #79899d;
}
.testmonials-achieve {
  display: flex;
  gap: 0 10px;
  margin-bottom: 34px;
}
.testmonials-number {
  font-weight: 600;
  font-size: 25px;
  line-height: 26px;
  color: #f4a11a;
}
.testmonials-text {
  color: #8189a3;
}

.post {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  margin-top: 140px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.post-header {
  width: 100%;
  max-width: 606px;
  text-align: center;
}
.post-header .global-heading {
  max-width: 500px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
